.wrapper {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  // justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  user-select: none;
  cursor: pointer;
  letter-spacing: 0.03px;

  + .wrapper {
    margin-left: 16px;
  }
}

.child-btn {
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.other {
  width: 44px;
  height: 22px;
  // background-color: rgba(22, 24, 35, 0.12);
  border-radius: 100px;
  transition: all linear 0.8s;
}

.active {
  &:nth-child(1) {
    display: flex;
    justify-content: flex-end;
  }
}

.primary {
  min-width: 102px;
  min-height: 36px;
  border-radius: 4px;
  padding: 6px 9px;
  font-size: 1.6rem;
  line-height: 21px;
  font-weight: 700;
  color: var(--white-color);
  background-color: var(--primary-color);

  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
  }
}

.outline {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 111px;
  padding: 0 16px;
  height: 36px;
  line-height: 24px;
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 1);

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.left-icon {
  margin-right: 8px;
}
.right-icon {
  margin-left: 8px;
}

.left-icon,
.right-icon {
  display: flex;
  justify-content: center;
  width: 20px;
}
