.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 9px 16px;
  color: var(--black-color);

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.avatar-wrapper {
  display: inline-block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  margin: 0px 12px 0px 0px;
  padding: 0px;
  font-feature-settings: 'tnum';
  position: relative;
  overflow: hidden;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
  border-radius: 50%;
  background-color: rgba(136, 136, 136, 0.5);
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 46px);
}
.userNameWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.userName {
  font-size: 1.6rem;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.check {
  color: rgb(32, 213, 236);
  margin-left: 8px;
}

.name {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.093px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// Guess
.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.guess-text {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 8px;
  padding-right: 12px;
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.search-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}
