.menu-wrapper {
  margin-bottom: 8px;
}

.menu-item {
  display: flex;
  align-items: center;
  font-size: 32px;
  padding: 8px;
  border-radius: 4px;
  color: var(--text-color);
  transition: background 200ms ease-in-out 0s;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }

  &.active {
    color: rgba(254, 44, 85, 1);
  }

  .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.028px;
    margin-left: 8px;
  }
}
