.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  height: var(--headerHeight);
  padding: 0 24px 0 16px;
  box-shadow: 0 1px #e4e4e4;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-color);
  z-index: 999;
}

.logo {
  display: flex;
  align-items: center;
  min-width: 300px;
}

.action {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 262px;
}

.more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
  margin-left: 16px;
  font-size: 2rem;
  cursor: pointer;
}

// login

.message-wrapper,
.inbox-wrapper,
.more-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 32px;
  // width: 32px;
}

.message-wrapper,
.inbox-wrapper {
  margin-left: 16px;
}

.more-menu {
  margin-left: 24px;
}

.message-wrapper {
  padding: 3px 3px;
}

// .message-icon {
//   width: 26px;
//   height: 26px;
// }

// .inbox-icon {
//   width: 32px;
//   height: 32px;
// }

.supBadge {
  position: absolute;
  top: -20%;
  right: -36%;
  height: 20px;
  padding: 0 6px;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--white-color);
  background-color: rgb(254, 44, 85);
  border-radius: 10px;
}

.more-menu {
  height: 32px;
  width: 32px;
}

.more-menu-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
